/* Se incorpota TailwindCSS a la plantilla */
@import "tailwindcss";

/* Se importan las familias de componentes de Tailwind a utilizar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se define el CSS que se quiere utilizar en particular */
body {
  line-height: 1.5rem;
}

header {
  background-color: #1B1F3B;
  text-align: center;
  padding: 1rem
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  color: #F0C808;
  font-size: 2.5rem;
}

hr {
  padding-top: 1rem;
}

footer {
  background-color: #2E2E2E;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

footer a {
  color: #F0C808;
  text-decoration: none;
}
